{% extends 'base.html.twig' %}
{% block title %}
  Categories
{% endblock %}
{% block stylesheets %}
  <style>
    .pt-3-half {
      padding-top: 1.4rem;
    }
  </style>
{% endblock %}
{% block body %}
  <div class="container">
    <div class="row">
      <div class="card">
        <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Editable table</h3>
        <div class="card-body">
          <div class="table-editable" id="table">
            <span class="table-add float-right mb-3 mr-2">
              <a class="text-success" href="#!">
                <i aria-hidden="true" class="fas fa-plus fa-2x"></i>
              </a>
            </span>
            <table class="table table-bordered table-responsive-md table-striped text-center">
              <tr>
                <th class="text-center">Person Name</th>
                <th class="text-center">Age</th>
                <th class="text-center">Company Name</th>
                <th class="text-center">Country</th>
                <th class="text-center">City</th>
                <th class="text-center">Sort</th>
                <th class="text-center">Remove</th>
              </tr>
              <tr>
                <td class="pt-3-half" contenteditable="true">Aurelia Vega</td>
                <td class="pt-3-half" contenteditable="true">30</td>
                <td class="pt-3-half" contenteditable="true">Deepends</td>
                <td class="pt-3-half" contenteditable="true">Spain</td>
                <td class="pt-3-half" contenteditable="true">Madrid</td>
                <td class="pt-3-half">
                  <span class="table-up">
                    <a class="indigo-text" href="#!">
                      <i aria-hidden="true" class="fas fa-long-arrow-alt-up"></i>
                    </a>
                  </span>
                  <span class="table-down">
                    <a class="indigo-text" href="#!">
                      <i aria-hidden="true" class="fas fa-long-arrow-alt-down"></i>
                    </a>
                  </span>
                </td>
                <td>
                  <span class="table-remove">
                    <button class="btn btn-danger btn-rounded btn-sm my-0" type="button">Remove</button>
                  </span>
                </td>
              </tr>
              <!-- This is our clonable table line -->
              <tr>
                <td class="pt-3-half" contenteditable="true">Guerra Cortez</td>
                <td class="pt-3-half" contenteditable="true">45</td>
                <td class="pt-3-half" contenteditable="true">Insectus</td>
                <td class="pt-3-half" contenteditable="true">USA</td>
                <td class="pt-3-half" contenteditable="true">San Francisco</td>
                <td class="pt-3-half">
                  <span class="table-up">
                    <a class="indigo-text" href="#!">
                      <i aria-hidden="true" class="fas fa-long-arrow-alt-up"></i>
                    </a>
                  </span>
                  <span class="table-down">
                    <a class="indigo-text" href="#!">
                      <i aria-hidden="true" class="fas fa-long-arrow-alt-down"></i>
                    </a>
                  </span>
                </td>
                <td>
                  <span class="table-remove">
                    <button class="btn btn-danger btn-rounded btn-sm my-0" type="button">Remove</button>
                  </span>
                </td>
              </tr>
              <!-- This is our clonable table line -->
              <tr>
                <td class="pt-3-half" contenteditable="true">Guadalupe House</td>
                <td class="pt-3-half" contenteditable="true">26</td>
                <td class="pt-3-half" contenteditable="true">Isotronic</td>
                <td class="pt-3-half" contenteditable="true">Germany</td>
                <td class="pt-3-half" contenteditable="true">Frankfurt am Main</td>
                <td class="pt-3-half">
                  <span class="table-up">
                    <a class="indigo-text" href="#!">
                      <i aria-hidden="true" class="fas fa-long-arrow-alt-up"></i>
                    </a>
                  </span>
                  <span class="table-down">
                    <a class="indigo-text" href="#!">
                      <i aria-hidden="true" class="fas fa-long-arrow-alt-down"></i>
                    </a>
                  </span>
                </td>
                <td>
                  <span class="table-remove">
                    <button class="btn btn-danger btn-rounded btn-sm my-0" type="button">Remove</button>
                  </span>
                </td>
              </tr>
              <!-- This is our clonable table line -->
              <tr class="hide">
                <td class="pt-3-half" contenteditable="true">Elisa Gallagher</td>
                <td class="pt-3-half" contenteditable="true">31</td>
                <td class="pt-3-half" contenteditable="true">Portica</td>
                <td class="pt-3-half" contenteditable="true">United Kingdom</td>
                <td class="pt-3-half" contenteditable="true">London</td>
                <td class="pt-3-half">
                  <span class="table-up">
                    <a class="indigo-text" href="#!">
                      <i aria-hidden="true" class="fas fa-long-arrow-alt-up"></i>
                    </a>
                  </span>
                  <span class="table-down">
                    <a class="indigo-text" href="#!">
                      <i aria-hidden="true" class="fas fa-long-arrow-alt-down"></i>
                    </a>
                  </span>
                </td>
                <td>
                  <span class="table-remove">
                    <button class="btn btn-danger btn-rounded btn-sm my-0" type="button">Remove</button>
                  </span>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block javascripts %}
  <script></script>
{% endblock %}